-----BEGIN CERTIFICATE-----
MIIG+zCCBeOgAwIBAgIKGzk80AACAAZC5TANBgkqhkiG9w0BAQsFADBoMRMwEQYK
CZImiZPyLGQBGRYDY29tMRowGAYKCZImiZPyLGQBGRYKb2JlcnRodXJjczEWMBQG
CgmSJomT8ixkARkWBmNlcnRpZjEdMBsGA1UEAxMUT2JlcnRodXJjcyBJc3N1aW5n
Q0EwHhcNMTYxMDI0MTUwMzQyWhcNMTkxMDAyMTAxMTIwWjB0MQswCQYDVQQGEwJG
UjERMA8GA1UEBxMIQ29sb21iZXMxHjAcBgNVBAoTFU9iZXJ0aHVyIFRlY2hub2xv
Z2llczEVMBMGA1UECxMMSVQgQ29ycG9yYXRlMRswGQYDVQQDExJvdHAub2JlcnRo
dXJjcy5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC4BmAiNvL3
DjIxVAqcaYZzoStZoVLmeJejC+2qtkCbIYzSmVq6anGnSs+Ll9RIhtOubChBo9LQ
aYWefPbLMISEpkvFIf+wQHwI+kWmadTTM9cZmOpluvgotE+mUiBKSAv6pzI+A7w+
waDUiXlEbmFoLSRBDkR29yREcnb7pPVJUmKHDOQfvD8Z5nW1vC4vCui+lKXz1c7v
OJ/xSXYUdp/6o60Shed3Y80Ky5L79XUM5UFge20YqMan67RmPHFtLJmTbeWISZ2j
/XtYDumS67vgfOyc4W/kgt6kDE0woFpfopTolx7YmdJa+q7u9wcgryQ4TwcFGYm7
YCKG2xQtzw7DAgMBAAGjggOZMIIDlTA7BgkrBgEEAYI3FQcELjAsBiQrBgEEAYI3
FQiEvZNyg8+Na4fxnyeB/eYo+/tYJM+7Q4fpwC8CAWQCARUwEwYDVR0lBAwwCgYI
KwYBBQUHAwEwCwYDVR0PBAQDAgWgMBsGCSsGAQQBgjcVCgQOMAwwCgYIKwYBBQUH
AwEwHQYDVR0OBBYEFFd9yVruTv7asLqkfw+fMmdMGXnaMIGNBgNVHREEgYUwgYKC
Em90cC5vYmVydGh1cmNzLmNvbYITb3RwMS5vYmVydGh1cmNzLmNvbYITb3RwMi5v
YmVydGh1cmNzLmNvbYITb3RwMy5vYmVydGh1cmNzLmNvbYITb3RwNC5vYmVydGh1
cmNzLmNvbYITb3RwNS5vYmVydGh1cmNzLmNvbYIDb3RwMIIBJQYDVR0fBIIBHDCC
ARgwggEUoIIBEKCCAQyGgcdsZGFwOi8vL0NOPU9iZXJ0aHVyY3MlMjBJc3N1aW5n
Q0EoMiksQ049RlJOQUNFUlRJRjMsQ049Q0RQLENOPVB1YmxpYyUyMEtleSUyMFNl
cnZpY2VzLENOPVNlcnZpY2VzLENOPUNvbmZpZ3VyYXRpb24sREM9b2JlcnRodXJj
cyxEQz1jb20/Y2VydGlmaWNhdGVSZXZvY2F0aW9uTGlzdD9iYXNlP29iamVjdENs
YXNzPWNSTERpc3RyaWJ1dGlvblBvaW50hkBodHRwOi8vcGtpLm9iZXJ0aHVyY3Mu
Y29tL0NlcnREYXRhL09iZXJ0aHVyY3MlMjBJc3N1aW5nQ0EoMikuY3JsMIIBPQYI
KwYBBQUHAQEEggEvMIIBKzCBuAYIKwYBBQUHMAKGgatsZGFwOi8vL0NOPU9iZXJ0
aHVyY3MlMjBJc3N1aW5nQ0EsQ049QUlBLENOPVB1YmxpYyUyMEtleSUyMFNlcnZp
Y2VzLENOPVNlcnZpY2VzLENOPUNvbmZpZ3VyYXRpb24sREM9b2JlcnRodXJjcyxE
Qz1jb20/Y0FDZXJ0aWZpY2F0ZT9iYXNlP29iamVjdENsYXNzPWNlcnRpZmljYXRp
b25BdXRob3JpdHkwbgYIKwYBBQUHMAKGYmh0dHA6Ly9wa2kub2JlcnRodXJjcy5j
b20vQ2VydERhdGEvRlJOQUNFUlRJRjMuY2VydGlmLm9iZXJ0aHVyY3MuY29tX09i
ZXJ0aHVyY3MlMjBJc3N1aW5nQ0EoMikuY3J0MA0GCSqGSIb3DQEBCwUAA4IBAQAM
tP6Wo/Q99kUEA05ypttXx0JN+w31tp/oS+mSzZcEjT3/MFAxytdr+q4T332sPRkK
WABhfl5OcN7DrBqEiKHUvQNqybYFjBYalqFInw3pX/v28Z93XEZq9Olg/8TYGNtx
iOcM9m+2+esyfrwwRZias7xrbOIqGZiLIY05K41taTqtp3cph7piQ34UtIAdZgYr
75nH6sT+QoNHgBDpMNo2BZIDSmZH1ZJmxP7DcFN9Qdi9bHFdSRSVwbBqTAoTxA+U
q8n0VylslvENbIG8sU1k1CVSStVK9/G5QSEFPBgRXI1sWfAcb79iBUEt/7TRxGsq
Zdz1int3JvCL3I1uIEbO
-----END CERTIFICATE-----
